   
	#container
		{
			padding: 10px 0px;
			margin-left:auto;
			margin-right:auto;
			width:100%;
			min-width:700px;		
			background-color:#F0FFF0;
			color:#000000;
			border:0px double #000000;
		
		}
		#content
		{
			margin-left:50px;
			margin-right:50px;
			background-color:white;
			color:black;
			overflow:auto;
			padding: 10px 20px;
			height: 800px 	
		}
		#footer
		{
			background-color:#F0FFF0;
			color:#000000;
			font-size:.70em;
			font-style:italic;
			text-align:center;
			height:auto;
			padding-top:5px;
			padding-bottom:5px;
		}
		h1 
		{
			background-color: 	#FFFFE0;
			color:#000000; 
			text-align:center;
			text-shadow:   0 0 20px #fff,
		                   0 0 30px #fff,
		                   0 0 40px #fff,
		                   0 0 50px #ff00de,
		                   0 0 80px #ff00de,
		                   0 0 90px #ff00de,
		                   0 0 110px #ff00de,
		                   0 0 160px #ff00de;	   
		}
		h4
		 {
		 	background-color:#ccaa66;
			color:#ffffcc;
			font-size:14px;
			padding-left:10px;
			padding-bottom:7px;
			padding-top: 7px;		
			border-bottom: 1px solid #e8d882;
			margin-right:20px;	
		}
		
	
	
		.animatedtabs{
		border-bottom: 10px ;
		overflow: hidden;
		width: 90%;
		font-size: 14px; /*font of menu text*/
		}
		
		
		.animatedtabs ul
		{
		list-style-type: none;
		height: 40px;
		margin: 0;
		margin-left: 10px; /*offset of first tab relative to page left edge*/
		padding: 0;
		padding: 0px 5px;
		margin-left:30px;
		margin-right:50px;
	
		}
		
		.animatedtabs li
		{
		float: left;
		margin: 0;
		padding: 0;
		}
		
		.animatedtabs a
		{
		float: left;
		position: relative;
		top: 5px; /* 1) Number of pixels to protrude up for selected tab. Should equal (3) MINUS (2) below */
		background: url(media/tab-blue-left.gif) no-repeat left top;
		margin: 0;
		margin-right: 3px; /*Spacing between each tab*/
		padding: 0 0 0 9px;
		text-decoration: none;
		
		}
		
		.animatedtabs a span
		{
		float: left;
		position: relative;
		display: block;
		background: url(media/tab-blue-right.gif) no-repeat right top;
		padding: 5px 14px 3px 5px; /* 2) Padding within each tab. The 3rd value, or 3px, should equal (1) MINUS (3) */
		font-weight: bold;
		color: black;
		}
		
		
		.animatedtabs a span 
		{
			float:none;
			
		}
		
		.animatedtabs .selected a
		{
		background-position: 0 -125px;
		top: 0;
		
		}
		
		.animatedtabs .selected a span
		{
		background-position: 100% -125px;
		color:blue;
		/* background:silver;    /*select tab Background color*/
		padding-bottom: 8px; /*Bottom padding of selected tab. Should equal (1) PLUS (2) above */
		top: 0;
		}
		
		.animatedtabs a:hover
		{
		background-position: 0% -125px;
		top: 0;
		}
		
		.animatedtabs a:hover span
		{
		background-position: 100% -125px;
		padding-bottom: 8px; /* 3) Bottom padding of selected tab. Should equal (1) PLUS (2) above */
		top: 0;
		}
		
